html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
h1 {
	font-family: 'Architects Daughter', cursive;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #6895b8;
}

section {
	flex-basis: 57%;
	margin-right: 10%;
}

aside {
	flex-basis: 33%;
}

p, [for="abtype"] {
	margin: 2rem 0;
}

fieldset {
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 2rem;
}

legend {
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	display: block;
}

label {
	display: block;
	padding-bottom: 0.3rem;
}

textarea {
	height: 10rem;
	padding: 1rem;
}

select {
	font-size: 1rem
}

button {
	font-size: 1rem;
	padding: 0.5rem 1rem;
	margin: 2rem 0;
	background-color: #101886;
	color: white;
	border: none;
	border-radius: 10px;
}

button:hover {
	cursor: pointer;
	background-color: white;
	color: #101886;
}

input:not([type="radio"]):not([type="checkbox"]), textarea, select {
	display: block;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border-radius: 3px;
	border: none;
	margin-bottom: 2rem;
}









